# Node / React
frontend/node_modules/
frontend/dist/

# Python
backend/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo

# Variables de entorno
.env
frontend/.env
backend/.env

# Editor / OS
.vscode/
.DS_Store